<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>शब्दभेद</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="main.css">
      
    </head>

    <style>
     

      body {
      height: 100%;
      background-color:rgb(12, 53, 73);
      background-image: url('bg.png');

      -webkit-user-select: none;
      -webkit-app-region: drag;
      
    }

    </style>

    <body>
      <ul>
        <br>
        <li ><a style="font-size:larger;" href="settings.html">Settings</a>
            <ul>
              <li><a>User-Interface</a></li>
              <li><a>Backend</a></li>
            </ul>
        </li>
      
      <li ><a style="font-size:larger;" href="About.html">About Application</a>
        <ul>
          <li><a>Our Team</a></li>
          <li><a>Resources</a></li>
        </ul>
      
      </li>


      <li ><a style="font-size:larger;" href="contact.html">Contact us!</a>
        <ul>
          <li><a>E-mail</a></li>
          <li><a>mobile-no</a></li>
        </ul>
      
      </li>
          
    </ul>  
    
      
 
        <h1 class="tt">शब्दभेद</h1>
  
        
        <header class="header1 can group">
          
            <p id="OutputTagger"style="display: none";>Here,the output will include visualization and parts of speech tagger</p> 
            <p class="blink" >........Welcome To शब्दभेद Click On The Button For Tokenization ........  </p>
            <input class="startupbutton" id="search" type="SUBMIT" name="output" value="LET'S START "  onclick="location.href='http://127.0.0.1:5000/'"> 
      
      </header>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   
    </body>
</html>
