<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>शब्दभेद</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      
    </head>

    <style>
     

      body {
      height: 100%;
      
      background-color: rgb(39, 30, 3);

      -webkit-user-select: none;
      -webkit-app-region: drag;
      
    }

    </style>

    <body class="bg">
      <ul>
        <br>
        <li ><a style="font-size:larger;" href="settings.html">Settings</a>
            <ul>
              <li><a>User-Interface</a></li>
              <li><a>Backend</a></li>
            </ul>
        </li>
      
      <li ><a style="font-size:larger;" href="About.html">About Application</a>
        <ul>
          <li><a>Our Team</a></li>
          <li><a>Resources</a></li>
        </ul>
      
      </li>


      <li ><a style="font-size:larger;" href="contact.html">Contact us!</a>
        <ul>
          <li><a>E-mail</a></li>
          <li><a>mobile-no</a></li>
        </ul>
      
      </li>
          
    </ul>  
    
      
 
        <h1 class="tt" style="left: 10px;">शब्दभेद</h1>
       


        <form method="POST" action="/send">
          <div class ="form-group">
        
          <input style="position: fixed; left: 500px; top: 300px;"  id="input"  type="text" name="script" placeholder="Enter The Sentence...." size="70px" ><br><br>
        </div>
          
          <input class="btn btn-primary" style="position: fixed; left: 900px; top: 450px;" id="search" value="SUBMIT" type="SUBMIT" name="output"  >     
         
       
       
       </form>
       
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
