<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stttings</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <style>
        body {
          height: 100%;
          background-color:rgb(12, 53, 73);
          background-image: url('bg.png');

          -webkit-user-select: none;
          -webkit-app-region: drag;
          
        }

    </style>
    <body>
        <h2>This page is under work</h2>
        <button class="button"><a style="color: rgba(1, 13, 24, 0.884); " href="index.html">go back</a></button>
    </body>
</html>